*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
body{
    background: #f1f1f1;
}
button{
    border: 0px;
}
a{
    text-decoration: none;
}
/* ------------------------------------------- */
header{
    /* position: relative; */
}
.bg{
    background-color: #fff;
    border-top: 7px solid black;
}
/* 导航栏 */
.nav{
    width: 1200px;
    margin: 0px auto;
    /* overflow: hidden; */
    height: 75px;
    position: relative;
}
.nav1{
    float: left;
    width: 253px;    
}
header h1{
    width: 131px;
    height: 83px;
    background: url(../images/sprite.png) no-repeat 0px -1337px;
    position: absolute;
    left: 0px;
    top: -8px;
    cursor: pointer;
}
.address{
    width: 91px;
    height: 27px;
    color: #c9cacb;
    border: 1px solid #c9cacb;
    border-radius: 50px;
    float: right;
    margin-top: 25px;
    text-align: center;
    line-height: 27px;
}
.address:hover{
    color: #707279;
    border: 1px solid #707279;
}
.address p{
    cursor: pointer;
}
.nav2{
    float: right;
    overflow: hidden;
}
.navleft{
    float: left;
    margin-right: 340px;
}
.navleft a:hover{
    color: #ff7b0f;
}
.navright{
    float: right;
}
.navright a:hover{
    color: #ff7b0f;
}

.navleft a{
    float: left;
    text-decoration: none;
    padding-left: 25px;
    line-height: 75px;
    color: #929292;
    font-size: 18px;
    font-weight: bold;
}
.navcurrent{
    color: #ff7b0f !important;
}
.navright a{
    float: left;
    text-decoration: none;
    padding-left: 25px;
    line-height: 75px;
    color: #929292;
    font-size: 18px;
    font-weight: bold;
}

/* --- */
/* 地址模态窗口 */
.city{
    width: 600px;
    height: 150px;
    position: absolute;
    top: 25px;
    left: 25%;
    display: none;
    background: #fff;
    z-index: 99;
    color: #000;
}
.city>span{
    position: absolute;
    top: 20px;
    right: 40px ;
    color: #666;
    cursor: pointer;
    font-size: 30px;
}
.navcity{
    overflow: hidden;
    background-color: #ddd;
    width: 550px;
    height: 50px;
    margin: 15px 25px;
}
.navcity li{
    float: left;
    /* width: 55px; */
    height: 20px;
    margin-top: 10px;
    padding: 10px 15px;
    background: #ddd; 
    cursor: pointer;
}
.navcity li:nth-of-type(1){
    margin-left: 20px;
}
.opencitybox1{
    width: 550px;
    overflow: hidden;
    margin-left: 25px;
    display: none;
}
.mycurrent1{
    background: #fff !important; 
}
.mycurrent2{
    display: block;
}
.opencitybox1 li{
    float: left;
    padding: 15px 10px;
    cursor: pointer;
}

.opencity{
    display: block;
}
.opencity2{
    display: none;
}
/* ------------- */
/* 模态窗口 */
/* 遮罩层 */
#shade {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    z-index: 99;
}
#longinbox {
    position: absolute;
    top: 30px;
    left: 29%;
    display: none;
    width: 540px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(10, 20, 20, .2), -5px -5px 10px rgba(10, 20, 20, .2);
    background-color: #fff;
    z-index: 99;
    /* animation:loginbox 1s infinite linear; */
}
/* @keyframes loginbox {
    0%{
        transform: translate(-30% 34%);
    }
    100%{
        transform: translate(30px 34%);
    }
} */
.title>span{
    position: absolute;
    top: 0px;
    right: 10px;
    display: block;
    font-size: 30px;
    color: #d08c5f;
    cursor: pointer;
}
.title>div{
    width: 177px;
    height: 62px;
    background: url(../images/sprite.png)no-repeat 0px -1275px;
    margin: 30px 34%;
}
.title>p{
    text-align: center;
    color: #ddd;
    font-size: 18px;
}
.title>p span:nth-of-type(2){
    margin: 0px 50px;
}
#longinbox>form{
    text-align: center;
}
.formdiv1,.formdiv2{
    margin: 40px;
}
.formdiv1 input,.formdiv2 input {
    width: 250px;
    height: 35px;
    margin-left: 20px;
    color: #000;
    border: 1px solid #ddd;
    font-size: 16px;
    outline: none;
    border-radius: 3px;
    padding-left:10px;
}
.formdiv1 input:focus,.formdiv2 input:focus{
    box-shadow: 0 0 7px rgb(114, 167, 241);
}
.login-but{
    width: 325px;
    height: 35px;
    background-color: #fb7b27;
    color: #fff;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}
.nopassword{
    width: 325px;
    overflow: hidden;
    margin: 40px auto;
}
.nopassword>span{
    float: left;
}
.nopassword>span:nth-of-type(2){
    color: #666;
    margin-left: 100px;
}
.nopassword a{
    color: red;
}
/* 注册模态窗口 */
#regiterbox {
    position: absolute;
    top: 30px;
    left: 29%;
    display: none;
    width: 540px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(10, 20, 20, .2), -5px -5px 10px rgba(10, 20, 20, .2);
    background-color: #fff;
    z-index: 99;
}
.title2>span{
    position: absolute;
    top: 0px;
    right: 10px;
    display: block;
    font-size: 30px;
    color: #d08c5f;
    cursor: pointer;
}
.title2>div{
    width: 177px;
    height: 62px;
    background: url(../images/sprite.png)no-repeat 0px -1275px;
    margin: 30px 34%;
}
#regiterbox>form{
    text-align: center;
}
#regiterbox>form>div{
    overflow: hidden;
    width: 315px;
    margin: 40px auto;
}
#regiterbox>form>div>label{
    display: block;
    width: 80px;
    height: 25px;
    float: left;
    text-align: left;
    line-height: 65px;
}
#regiterbox>form>div>input{
    width: 200px;
    height: 35px;
    margin: 10px;
    color: #000;
    border: 1px solid #ddd;
    font-size: 16px;
    outline: none;
    border-radius: 3px;
    padding-left:10px;
    float: right;
}
#rformdiv3{
   overflow: hidden;
}
#rformdiv3 div{
    float: right;
    overflow: hidden;
    margin-right: 10px;
}
#rformdiv3>label{
    line-height: 45px !important;
}
#rformdiv3 div input:nth-of-type(1){
    float: left;
    width: 100px;
    height: 35px;
    color: #000;
    border: 1px solid #ddd;
    border-right: none;
    font-size: 16px;
    outline: none;
    border-radius: 3px 0px 0px 3px;
    padding-left:10px;
}
#rformdiv3 div input:nth-of-type(2) {
    float: left;
    width: 100px;
    height: 37px;
    color: #fff;
    border: 1px solid #ddd;
    border-left: none;
    font-size: 16px;
    outline: none;
    border-radius: 0px 3px 3px 0px;
    padding-left:10px;
    background: #fb7b27;
    cursor: pointer;
    padding: 0px;
}
/* #rformdiv3 div input:nth-of-type(2)::placeholder {
    color: #fff;
} */
#regiterbox input:focus{
    box-shadow: 0 0 7px rgb(114, 167, 241);
}
.regiter-but{
    width: 325px;
    height: 35px;
    background-color: #fb7b27;
    color: #fff;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

.nopassword2{
    width: 325px;
    overflow: hidden;
    margin: 40px auto;
}
.nopassword2 span:nth-of-type(1){
    float: left;
}
.nopassword2 span:nth-of-type(1) a{
    color: #666;
}
.nopassword2 span:nth-of-type(2){
    float: right;
}
.nopassword2 span:nth-of-type(2) a{
    color: red;
}

/* ---------- */


/* 图片轮播 */
.img{
    height: 386px;
    background: black;
}
#img2{
    width: 1200px;
    height: 386px;
    margin: 0px auto;
    background: black;
    position: relative;
    overflow: hidden;
}
.img3{
    width: 750px;
    height: 340px;
    margin: 0px auto;
    overflow: hidden;
}
#box{
    width: 7200px;
    height: 340px;
    margin: 0px auto;
    overflow: hidden;
    cursor: pointer;
}
#box li a img{
    display: block;
    margin: 0px 225px;
}
#box li{
    float: left;
}
#list{
    width: 1200px;
    height: 10px;
    background: #88898a;
    overflow: hidden;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
#list li{
    width: 200px;
    height: 10px;
    float: left;
    cursor: pointer;
}
#list li.current{
    background-color: #fa7a28;
}
#list li:hover{
    background: #fff;
}
#left{
    width: 180px;
    height: 376px;
    position: absolute;
    left: 0px;
    top: 0px;
    cursor: pointer;
}
#left span{
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 150px 10px;
    background: url(../images/sprite.png)no-repeat 0px -324px;

}
#right{
    width: 180px;
    height: 376px;
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
}
#right span{
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 150px 100px;
    background: url(../images/sprite.png)no-repeat 0px -394px;
}
/* -------------------------------------- */
.main{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    /* background: sandybrown; */
    margin-top: 10px;
}
.top{
    height: 600px;
    background-color: #ffffff;
    overflow: hidden;
}
.center{
    background: #fff;
    padding-top: 20px;
}
.bottom{
    height: 882px;
    background: #fff;
    margin-top: 19px;
}
.left{
    margin-left: 21px;
    margin-right: 27px;
    width: 851px;
    float: left;
    
}
.right{
    margin-right: 20px;
    width: 280px;
    height: 600px;
    float: right;
}
.lefttop{
    width: 851px;
    border-bottom: 1px solid #929292;
}
.centertop{
    width: 1200px;
    overflow: hidden;
    /* background: #fc7c2a; */
}

.lefttopone{
    overflow: hidden;
}
.hot{
    float: left;
    line-height: 58px;
}
.hot p{
    color: #000;
    cursor: pointer;
    display: inline;
    font-size: 20px;
}
.hot span{
    margin-left: 5px;
}
.hotmore{
    width: 48px;
    height: 24px;
    color: #c9cacb;
    border-radius: 20px;
    border: 1px solid #c9cacb;
    float: right;
    margin-top: 20px;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
}
.hotmore:hover{
    color: #f60;
    border: 1px solid #f60;
}


.current1{
    font-weight: bold;
    font-size: 18px;
}
.lefttoptwo{
    overflow: hidden;
    display: none;
}
.current{
    display: block;
}
.lefttoptwo-left{
    float: left;
    position: relative;
}
.copylttl{
    width: 205px;
    height: 287px;
    background: #e6e6e6;
    position: absolute;
    top: 7px;
    left: 7px;
    z-index: 1;
}

.lefttoptwo-left img{
    position: relative;
    width: 205px;
    height: 287px;
    z-index: 2;
}
.hottitle{
    width: 212px;
    height: 47px;
    margin-top: 16px;
    font-size: 18px;
}
.hotletter p{
    width: 195px;
    height: 120px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
.lefttoptwo-left button{
    width: 116px;
    height: 40px;
    background: #fc7c2a;
    color: #ffffff;
    font-size: 15px;
    margin-left: 30px;
    margin-top: 26px;
    cursor: pointer;
}
.lefttoptwo-left button:hover{
    border:3px solid #f60;
}
.lefttoptwo-right{
    float: right;
}

.li1 p,.li2 p{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* 限制在一个块元素显示的文本的行数 */
    -webkit-box-orient: vertical; /* 垂直排列 */
    word-break: break-all;  /* 内容自动换行 */
}
.lefttoptwo-right ul{
    width: 608px;
}
.li1 img{
    width: 138px;
    height: 194px;
    border: 1px solid #8f7f6d;
}
.li2 img{
    width: 138px;
    height: 194px;
    border: 1px solid #8f7f6d;
    cursor: pointer;
}
.li2{
    width: 140px;
    height: 255px;
    margin-bottom: 16px;
    margin-left: 16px;
    float: left;
}
.li2:nth-of-type(1){
    margin-left: 0px;
}
.li2:nth-of-type(5){
    margin-left: 0px;
}
.li2 p{
    text-align: center;
}
.lefttoptwo-right button{
    width: 80px;
    height: 25px;
    background: #fc7c2a;
    color: #ffffff;
    font-size: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.lefttoptwo-right button:hover{
    background: #c36927;
}
/* -- */
.right-top{
    width: 280px;
    height: 230px;
    background: url(../images/buy-step.jpeg);
    margin-top: 20px;
}
.right-top div:nth-of-type(1){
    padding: 140px 0px 0px 10px;
    color: #fff;
    font-size: 12px;
}
.right-top div:nth-of-type(2){
    padding: 10px 0px 0px 10px;
}
.right-top div:nth-of-type(2) input{
    width: 246px;
    height: 25px;
    color: #999;
    border-radius: 60px;
    font-size: 12px;
    outline: none;
    padding-left: 10px;
    border: none;
}
.right-center{
    border-bottom: 1px solid #eee;
    overflow: hidden;
    margin-top: 20px;
    padding-bottom: 10px;
}
.right-center span:nth-of-type(1){
    float: left;
    font-size: 17px;
    color: #333;
}
.right-center span:nth-of-type(2){
    float: right;
    font-size: 12px;
}
.right-center span:nth-of-type(2) a{
    color: #919191;
    line-height: 26px;
    border: 1px solid #c9cacb;
    border-radius: 30px;
    width: 50px;
    height: 26px;
    display: block;
    text-align: center;
}
.right-center span:nth-of-type(2) a:hover{
    color: #fb7b28;
    border:1px solid #fb7b28;
}

#box2 li{
    width: 280px;
    margin: 20px 0px 20px 0px;
}
.box2{
    overflow: hidden;
    margin-top: 15px;
}
.box2one{
    overflow: hidden;
    width: 280px;
}
.box2one p:nth-of-type(1){
    float: left;
    font-size: 12px;
}
.box2one p:nth-of-type(2){
    float: right;
    font-size: 12px;
}
.box2two{
    overflow: hidden;    
}
.box2two img{
    width: 75px;
    height: 105px;
    float: left;
    cursor: pointer;
}
.box2two div{
    float: left;
    margin: 5px 0px 0px 18px;
}
.box2two div p:nth-of-type(1){
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}
.box2two div p:nth-of-type(2){
    font-size: 12px;
    color: #909090;
}
.box2two div button{
    width: 80px;
    height: 29px;
    color: #fff;
    font-size: 12px;
    background: #fb7b28;
    margin: 12px 0px 0px 105px;
    cursor: pointer;
}
.box2two div button:hover{
    background: #c36727;
}
.myclass1{
    display: none;
}
.myclasss2{
    display: block;
}
/* -------- */
.ctleft{
    width: 867px;
    float: left;
}
.ctright{
    width: 300px;
    float: right;
    overflow: hidden;
}
.ctleftone{
    overflow: hidden;
    padding-left: 20px;
}
.ul1 p{
    float: left;
}
.ul1 a{
    float: right;
}
.ul1{
    margin-left: 21px;
    overflow: hidden;
}
.ul1 li{
    width: 276px;
    /* height: 230px; */
    float: left;
    margin-right: 10px;
}
.ul1 li p{
    font-size:16px;
    /* line-height: 40px; */
    margin-top: 15px;
    cursor: pointer;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* 限制在一个块元素显示的文本的行数 */
    -webkit-box-orient: vertical; /* 垂直排列 */
    word-break: break-all;  /* 内容自动换行 */
}
.ul1 img{
    width: 276px;
    height: 196px;
    cursor: pointer;
}
.centerbottom{
    overflow: hidden;
}
.centerbottomone{
    overflow: hidden;
    float: left;
    width: 857px;
    margin-top: 30px;
}
.centerbottomtwo{
    width: 302px;
    height: 233px;
    float: right;
    background: url(../images/sprite.png) no-repeat 0px -854px;
    margin: 35px 6px 0px 0px;
}
.new{
    overflow: hidden;
    line-height: 60px;
    border-bottom: 1px solid #ebebeb;
    margin-right: 20px;
}
.new>p{
    float: left;
}
.new a{
    float: right;
}

.new span a{
    color: #919191;
    line-height: 26px;
    border: 1px solid #c9cacb;
    border-radius: 30px;
    width: 50px;
    height: 26px;
    display: block;
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
}
.new span a:hover{
    color: #fb7b28;
    border:1px solid #fb7b28;
}
.newul1{
width: 227px;
float: left;
}
.newul1 li{
    margin-top: 30px;
}
.newul1 a{
    font-size: 12px;
    color: #383838;

    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* 限制在一个块元素显示的文本的行数 */
    -webkit-box-orient: vertical; /* 垂直排列 */
    word-break: break-all;  /* 内容自动换行 */
}
.newul2{
    margin-right: 25px;
}
.newul2 li{
    margin-top: 30px;
    text-align: right;
}
.newul2 a{
    font-size: 12px;
    color: #383838;

    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* 限制在一个块元素显示的文本的行数 */
    -webkit-box-orient: vertical; /* 垂直排列 */
    word-break: break-all;  /* 内容自动换行 */  

}
.newul2{
float: right;
}
/* ----- */
.huodong{
    margin: 0px 15px 15px 15px;
}
.huodong li{
    width: 425px;
    height: 202px;
    padding-bottom: 25px;
}
.huodong img{
    width: 142px;
    height: 202px;
    border-radius: 10px;
    float: left;
    cursor: pointer;
}
.huodong p:nth-of-type(1){
    margin-top: 20px;
    display: inline-block;
    font-size: 15px;
    margin-left: 15px;
}
.huodong p:nth-of-type(2){
    margin-top: 120px;
    display: inline-block;
    margin-left: 15px;
}
.huodong button{
    width: 88px;
    height: 28px;
    background: #ff7b05;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
}
.huodong p span{
    color: #c0c0c0;
    font-size: 12px;
    margin-left: 10px;
}
.cbtop{
    overflow: hidden;
    margin-left: 20px;
}
/* ------ */
.bo1,.bo3{
    width: 483px;
    height: 10px;
    background: #e1e2e3;
    margin: 30px 30px;
    float: left;
}
.bo2 p{
    text-align: center;
    margin: 25px 21px;
    font-size: 18px;
}
.bo2{
    float: left;
}
.bottomone{
    height: 78px;
    /* background: skyblue; */
}
.bottomtwo ul{
    margin: 0px 21px;
    overflow: hidden;
}
.bottomtwo li{
    height: 341px;
    width: 278px;
    border: 2px solid #eee;
    text-align: center;
    float: left;
    margin: 0px 0px 10px 10px;
}
.bottomtwo li:nth-of-type(1){
    margin-left: 0px;
}
.bottomtwo li:nth-of-type(5){
    margin-left: 0px;
}
.bottomtwo li img{
    width: 254px;
    height: 128px;
    margin: 10px 11px;
    cursor: pointer;
}
.bottomtwo ul li p:nth-of-type(1){
    height: 56px;
    font-size: 18px;
    color: #666;
    margin-top: 15px;
    padding: 0px 15px;
}
.bottomtwo ul li p:nth-of-type(2){
    height: 38px;
    font-size: 12px;
    color: #929292;
    line-height: 20px;
    padding: 0px 8px;
    /* margin: 11px 0px; */
}
.bottomtwo ul li button{
    font-size: 12px;
    width: 84px;
    height: 26px;
    background: #fca563;
    color: #fff;
    margin: 15px 0px 12px 0px;
    cursor: pointer;
}
.bottomtwo ul li p:nth-of-type(3){
    font-size: 12px;
    color: #929292;
}
.bottomtwo ul li p:nth-of-type(3) span{
    color: #fca562;
    margin-left: 10px;
}
.bottom>p{
    text-align: center;
    margin-top: 40px;
}
.bottom>p button{
    width: 136px;
    height: 41px;
    background: #fa7a0d;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
}
/* ------------------------------------- */
.footer{
    height: 331px;
    background: #e4e4e4;
}
.footermain{
    width: 1130px;
    margin: 0px auto;
}
.footerone{
    /* height: 138px; */
    border-bottom: 1px solid #cacbcc;
    padding: 36px 35px 45px 20px;
    overflow: hidden;
}
.footertwo{
    height: 191px;
    border-top: 1px solid #fff;
    padding-left: 20px;
}
.fo1{
    float: left;
    overflow: hidden;
}
.fo2{
    float: left;
    overflow: hidden;
    margin-left: 145px;
    margin-right: 50px;
}
.fo3{
    float: left;
    overflow: hidden;
}
.fo11{
    width: 223px;
    height: 72px;
    background: url(../images/sprite.png)no-repeat 0px -778px;
    float: left;
}
.fo12{
    margin: 25px 0px 0px 25px;
    float: right;
}
.fo12 p{
    font-size: 12px;
}
.fo12 p a{
    color: #777;
}
.fo12 p span{
    margin: 0px 10px;
}
.fo21{
    float: left;
}
.fo21 img{
    width: 61px;
}
.fo22{
    float: right;
    margin-left: 20px;
}

.fo22 span:nth-of-type(1){
    font-size: 15px;
    color: #777;
}
.fo22 span:nth-of-type(2){
    font-size: 12px;
    color: #777;
}
.fo22 p:nth-of-type(1){
    margin-top: 10px;
}
.fo22 p:nth-of-type(2){
    font-size: 21px;
    color: #000;
    margin-top: 5px;
}
.fo3 p:nth-of-type(1){
    margin-top: 15px;
    font-size: 12px;
    color: #777;
}
.fo3 p:nth-of-type(2){
    font-size: 21px;
    color: #000;
    margin-top: 5px;
}
.ft1{
    float: left;
}
.ft2{
    float: right;
}
.ft1 a:nth-of-type(1){
    background: url(../images/sprite.png)no-repeat 0px -510px;
    width: 152px;
    height: 70px;
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}
.ft1 a:nth-of-type(2){
    background: url(../images/sprite.png)no-repeat 0px -580px;
    width: 152px;
    height: 69px;
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}
.ft1 a:nth-of-type(3){
    background: url(../images/sprite.png)no-repeat 0px -649px;
    width: 152px;
    height: 69px;
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}
.ftp1{
    font-size: 12px;
    color: #777;
    padding: 20px 0px 30px 0px;
    cursor: pointer;
}
.ft1 p:nth-of-type(1){
    font-size: 12px;
    color: #777;
    margin-bottom: 10px;
}
.ft2{
    margin: 30px 30px 0px 0px;
}
.ft2>p{
    font-size: 14px;
    color: #cacbcc;
    margin-bottom: 8px;
}
.ft2 p a{
    font-size: 14px;
}
.ft2 button:nth-of-type(1){
    width: 108px;
    height: 32px;
    background: #cacbcc;
    font-size: 12px;
    text-align: center;
    margin-right: 14px;
    cursor: pointer;
}
.ft2 button:nth-of-type(2){
    width: 108px;
    height: 32px;
    background: #cacbcc;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}
#zip{
    position: relative;
}
.zip button div{
    display: none;
}
.iphone{
    width: 136px;
    height: 136px;
    background: url(../images/sprite.png)no-repeat -13px -879px;
    position: absolute;
    top: -139px;
    left: 0px;
    display: none;
}
.adndnroid{
    width: 136px;
    height: 136px;
    background: url(../images/sprite.png)no-repeat -13px -879px;
    position: absolute;
    top: -139px;
    right: 0px;
    display: none;
}